.card_wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 25px;
    background-color: black;
    color: white;
}

.card_wrap img {
    width: 300px;
}