.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 100px);
    height: auto;
}

.pricing_title {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1rem;
}

.pricing_card_container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    justify-content: center;
    padding: 2rem;
}

.pricing_card {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    background-color: var(--surface);
    padding: 2rem;
    gap: 1rem;
    min-height: 600px;

}

.pricing_card * {
    width: 100%;
}

.pricing_card > div {
    gap: 1rem;
    flex-direction: column;
    display: flex;
}

.pricing_card ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

.btn {
    margin-top: auto;
}