.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.main div {
    width: auto;
    gap: 0;
}

.btn {
    padding: 10px 20px;
    font-weight: bold;
    transition: .5s ease-in-out;
    background-color: var(--text);
    color: var(--surface);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}