.main {
    height: auto;
    min-height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
}

.product_title {
    width: 100%;
    gap: 1rem;
    align-items: center;
}

.product_title h1 {
    font-size: 3rem;
    text-align: center;
}

.product_card {
    width: 80%;
    height: 400px;
    background-color: var(--surface);
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.product_card img {
    height: 100%;
}